@page "/Elevator/{elevatorId}/Errands/{errandId}"
@inject IAuthorizationService AuthorizationService;
@using System.Globalization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApp.Helpers.Authorization
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}

@if (Model.IsSuccess)
{
    <div class="container shadow border border-1 rounded-3 my-5 p-4 no-select bg-white">
        <div class="position-relative">
            <div class="position-absolute top-0 end-0 ">
                <a class="me-3 mt-1 no-anchor text-muted" asp-page="/Errands/Edit" asp-route-elevatorId="@Model.Errand.ElevatorId" asp-route-errandId="@Model.Errand.Id">
                    <i class="fa-regular fa-pen-to-square fa-xl"></i>
                </a>
            </div>
        </div>
        <div class="row row-eq-height p-4">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="fw-bold mb-0">Title</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@Model.Errand.Title</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="fw-bold mb-0">Status</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@Model.Errand.ErrandStatus</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="fw-bold mb-0">Created By</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@Model.Errand.CreatedByName</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="fw-bold mb-0">Assigned</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@Model.Errand.AssignedToName</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="fw-bold mb-0">Created</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@Model.Errand.CreatedDateUtc.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="fw-bold mb-0">Elevator</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0 cursor-pointer" onclick="location.href='@Url.Page("/Elevator/Details", new {Model.Errand.ElevatorId})'">Elevator Details</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <p class="fw-bold mb-0">Description</p>
                </div>
                <div class="col-lg-12 mt-3">
                    <textarea class="form-control bg-white rounded-0 rounded-bottom p-3 shadow-sm" style="resize: none; user-select: none;" readonly asp-for="Errand.Description" rows="9"></textarea>
                </div>

            </div>
        </div>
        <div class="row p-3">
            <h5 class="display-6 mb-2 pb-2">Latest Comments</h5>
            <hr />
            <div class="row ms-0">
                <form asp-page-handler="Comment">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="d-flex flex-row mt-4 mb-4">
                        <img class="img-fluid img-responsive rounded-circle me-3 shadow-lg" src="https://i.imgur.com/qdiP4DB.jpg" width="58" alt="user profile pic">
                        <input type="text" asp-for="@Model.Comment" class="form-control me-3 shadow-sm" placeholder="Add comment">
                        <button class="btn btn-primary shadow-sm" type="submit">Comment</button>
                    </div>
                </form>
            </div>
            @if (Model.Errand.Comments.Any())
            {
                @foreach (var comment in Model.Errand.Comments)
                {
                    <div class="card-body p-4 rounded shadow-sm mb-3">
                        <div class="d-flex">
                            <img class="rounded-circle shadow-lg me-3" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(33).webp" alt="avatar" width="60" height="60">
                            <div>
                                <h6 class="fw-bold mb-1">@comment.CreatedByName</h6>
                                <div class="d-flex align-items-center mb-2">
                                    <p class="mb-0">
                                        @comment.CreatedDateUtc.ToString("f")
                                    </p>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationPolicies.AdminAccess)).Succeeded)
                                    {
                                        <a href="#!" class="text-muted">
                                            <i class="fa-regular fa-trash-can ms-2"></i>
                                        </a>
                                    }
                                </div>

                                <p class="mb-0">
                                    @comment.Message
                                </p>
                            </div>
                        </div>
                    </div>

                }
            }
            else
            {
                <div class="container-fluid text-center pt-4">
                    <p class="fw-thin">No comments yet, be the first to comment ...</p>
                </div>
            }
            @if (Model.PaginationMetadata.TotalPageCount > 1)
            {
                <div class="container-fluid my-2">
                    <div class="row pt-3">
                        <div class="col text-center">
                            @if (Model.PaginationMetadata!.HasPrevious)
                            {
                                <a class="pagination-btn" asp-page="/Errands/Details" asp-route-elevatorId="@Model.Errand.ElevatorId" asp-route-errandId="@Model.Errand.Id" asp-route-CurrentPage="@(Model.PaginationMetadata.CurrentPage - 1)" asp-route-PageSize="@Model.PaginationMetadata.PageSize">
                                    <i class="fa-solid fa-angles-left fa-2xl"></i>
                                </a>
                            }
                        </div>
                        <div class="col text-center">
                            Page @Model.PaginationMetadata.CurrentPage of @Model.PaginationMetadata.TotalPageCount ( @Model.PaginationMetadata.TotalItemCount )
                        </div>
                        <div class="col text-center">
                            @if (Model.PaginationMetadata.HasNext)
                            {
                                <a class="pagination-btn" asp-page="/Errands/Details" asp-route-elevatorId="@Model.Errand.ElevatorId" asp-route-errandId="@Model.Errand.Id" asp-route-CurrentPage="@(Model.PaginationMetadata.CurrentPage + 1)" asp-route-PageSize="@Model.PaginationMetadata.PageSize">
                                    <i class="fa-solid fa-angles-right fa-2xl"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="container text-center my-5 text-danger">
        <h2 class="display-6">Could not load errands</h2>
    </div>
}

@section Scripts
    {
    <partial name="Shared/_ValidationScriptsPartial" />

}