@page
@using System.Globalization
@model WebApp.Pages.Elevator.DetailsModel
@{
} 

<h1>Elevator Details</h1>


<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">ErrandStatus</th>
            <th scope="col">Created</th>
            <th scope="col">Created By</th>  
            <th scope="col">Assigned To</th>  
            <th scope="col">Description</th>  
        </tr>           
        </thead>
        <tbody>

        @foreach (var errand in Model.Elevator.Errands)
        {
            <tr>
                <td>@errand.Id</td>
                <td>@errand.Title</td>
                <td>@errand.ErrandStatus</td>  
                <td>@errand.CreatedDateUtc.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture)</td>
                <td>@errand.CreatedByName</td>
                <td>@errand.AssignedToName</td>       
                <td>@errand.Description</td>       
            </tr>
        }     
        </tbody>
    </table>
</div>