@page
@model WebApp.Pages.Elevator.IndexModel
@{
    ViewData["Title"] = "Elevators";
}







<h1 class="h1">Elevators</h1>





<div class="container mt-5 mb-5">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-12">
            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Search anything...">
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Ongoing</th>
            <th scope="col">Id</th>
            <th scope="col">Location</th>
            <th scope="col">Completed</th>
        </tr>
        </thead>
        <tbody>
         @foreach (var elevator in Model.Elevator)
         {
             <tr>
                <td>@elevator.Id</td>
                <td>@elevator.Location</td>
                <td>@elevator.Status</td>
                <td>@elevator.Ongoing</td>
                 <td>@elevator.Completed</td>

                    <td><a class="btn btn-primary bg-success" asp-page="./Details" asp-route-Id="@elevator.Id">View Details</a></td>
             </tr>
         }

        </tbody>
    </table>
</div>












